<template>
  <div>
    <h1 class="text-h3">{{ info.moduleName }} page</h1>
    <hr />
    Backend info: {{ info }}
  </div>
</template>

<script>
export default {
  name: "InfoPage",
  data () {
    return {
      error: null,
      info: {}
    }
  },
  async created () {
    try {
      this.info = await this.$backend.stub.get('info')
    } catch (e) {
      this.error = e.message
    }
  }
}
</script>

<style lang="scss" src="../scss/info-page.scss" scoped></style>
